langchain
dotenv
bs4
langchain-community
pypdf
ipykernel
langchain-text-splitters
sentence_transformers
langchain-huggingface
faiss-cpu
langchain-chroma
langchain-ollama
langchain-classic
streamlit
langchain-groq
fastapi
uvicorn
langserve[all]
arxiv
wikipedia
ddgs